@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans&family=Odibee+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1
{
    font-size: 18px;
    margin: 6px 0;
}

p
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    margin-bottom: 40px;
}

a
{
    text-decoration: none;
    color: #0079d3;
}

.form
{
    width: 16rem;
}

.a-log
{
    font-weight: 600;
}

.outer-i-i-btn,
.outer-i-div
{
    display: flex;
    flex-direction: column;
}

.outer-i-div,
.continue-btn
{
    margin: 6px 0 10px 0;
}

.i-div
{
    position: relative;
    display: flex;
    align-items: center;
}

.i-div > input,
.continue-btn
{
    width: 16rem;
    height: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 15px 6px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #ededed;
}

.continue-btn
{
    height: 2.3rem;
    cursor: pointer;
    color: #fff;
    background: #0079d3;
    opacity: 40%;
    padding: 0;
}

.i-icons
{
    position: absolute;
    right: 10px;
    font-weight: 600;
    font-size: 20px;
    display: none;
}

.i-label
{
    position: absolute;
    left: 15px;
    color: #a5a4a4;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.i-div > input:valid ~ span,
.i-div > input:focus ~ span,
.i-div > input:hover ~ span
{
    transform: translateY(-12px);
    transition: 0.2s ease-in-out;
    font-size: 8px;
}

.error-msg
{
    padding-left: 16px;
    font-size: 13px;
    font-weight: 600;
    display: none;
}

.pw_visibility
{
    display: block;
    cursor: pointer;
}
